<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/info.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
	<script src="__PUBLIC__/Home/js/flexible.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-3.2.0.min.js"></script>
	<script src="__PUBLIC__/Home/js/swiper-3.4.2.jquery.min.js"></script>
</head>
<body>	
   <div class="box">
   	   <div class="banner swiper-container clearfix">
   	        <div class="back-wrap clearfix">
   	        	<a href="javascript:history.back(-1);" class="back"></a>
   	        	<a href="javascript:void(0)" class="compare"></a>
   	        </div>
   	        <div class="swiper-wrapper">
	   	        <div class="swiper-slide">
	   	            <img src="__PUBLIC__/Home/image/5a420fb33aac7438605_19.jpg" alt="">
	   	        </div>
	   	   	    <div class="swiper-slide">
	   	            <img src="__PUBLIC__/Home/image/car1.jpg" alt="">
	   	        </div>
	   	        <div class="swiper-slide">
	   	            <img src="__PUBLIC__/Home/image/5a420fb33aac7438605_19.jpg" alt="">
	   	        </div>
	   	        <div class="swiper-slide">
	   	            <img src="__PUBLIC__/Home/image/5a420fb33aac7438605_19.jpg" alt="">
	   	        </div>
	   	        <div class="swiper-slide">
	   	            <img src="__PUBLIC__/Home/image/5a420fb33aac7438605_19.jpg" alt="">
	   	        </div>
   	        </div>
   	        <div class="number img swiper-pagination"></div>
   	        <div class="right">
   	        	吉林/编号：53097310
   	        </div>
   	   </div>
   	   <div class="detail-head">
   	   	  <h2 class="detail-title">奥迪 A6L 2014款 2.0T 自动 TFSI标准型</h2>
   	   	  <div class="detail-price clearfix">
   	   	     <span class="price"><strong>29.49</strong>万</span><span class="full-tax">新车含税44.48万</span>
   	   	     <a href="#">询底价</a>
   	   	  </div>
   	   </div>
   	   <div class="detail-consult">
   	   	   <span class="half">首付8.85万 月供7149元</span>
   	   	   <a href="#" class="half-more">了解详情</a>
   	   </div>
   	   <div class="status">
   	   	   <h2>车源状态<span class="promis-text"></span></h2>
   	   	   <a href="#" class="more"></a>
   	   	   <div class="origin-data clearfix">
   	   	   	<img src="__PUBLIC__/Home/image/5a3230bb2ded5459395_15.jpg" alt="">
   	   	   	<span class="origin-name">刘庆5</span>
   	   	   	<span class="origin-status">完成上架</span>
   	   	   	<span class="origin-time">2017.12.26 17:00</span>
   	   	   </div>
   	   </div>
   	   <div class="cars-details">
   	   	   <h3 class="tips">车辆档案<a href="#" class="more">参数</a></h3>
   	   	   <div class="car-achrive">
   	   	   	  <div class="car-achrive-wrap">
   	   	   	  	  <div class="both-padding clearfix">
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">表显里程</p>
   	   	   	  	  		<p class="carInfo-data">6.6万公里</p>
   	   	   	  	  	</div>
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">排放标准</p>
   	   	   	  	  		<p class="carInfo-data">国Ⅳ</p>
   	   	   	  	  	</div>
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">上架时间</p>
   	   	   	  	  		<p class="carInfo-data">昨天</p>
   	   	   	  	  	</div>
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">表显里程</p>
   	   	   	  	  		<p class="carInfo-data">6.6万公里</p>
   	   	   	  	  	</div>
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">排放标准</p>
   	   	   	  	  		<p class="carInfo-data">国Ⅳ</p>
   	   	   	  	  	</div>
   	   	   	  	  	<div class="carinfo">
   	   	   	  	  		<p class="carInfo-title">上架时间</p>
   	   	   	  	  		<p class="carInfo-data">昨天</p>
   	   	   	  	  	</div>
   	   	   	  	  </div>
   	   	   	  </div>
   	   	   	  <div class="deploy-list clearfix">
   	   	   	  	  <a href="#"><img src="__PUBLIC__/Home/image/cp_93.png" alt="">自动驻车</a>
   	   	   	  	  <a href="#"><img src="__PUBLIC__/Home/image/cp_135.png" alt="">方向盘换挡拨片</a>
   	   	   	  	  <a href="#"><img src="__PUBLIC__/Home/image/cp_82.png" alt="">倒车影像</a>
   	   	   	  	  <a href="#"><img src="__PUBLIC__/Home/image/cp_103.png" alt="">电动天窗</a>
   	   	   	  </div>
   	   	   </div>
           <a href="" class="data-more">查看详细参数配置</a>
       </div>
       <div class="isshow_vehicle">
       	    <h3 class="tips">车辆检测<span class="chekuang"></span></h3>
       	    <div class="p-accident-bg">
       	    	<ul class="p-accident">
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    		<li class="p-accident-bgl">
       	    			<a href="#">非水淹</a>
       	    		</li>
       	    	</ul>
       	    </div>
       </div>
       <!-- <div class="process">
   	       <h3 class="tips">车辆检测<span class="process-btn">服务咨询</span></h3>
   	       <ul class="buycar-process">
   	       	   <li class="item-step">
   	       	   	
   	       	   </li>
   	       </ul>
       </div> -->
   </div>
   <div class="phone-box clearfix">
   	   <a href="#" class="chat">
   	   	  <i class="chat-icon"></i>
   	   	  聊天
   	   </a>
   	   <a href="#" class="make-car">
   	   	  <i class="make-icon"></i>预约看车
   	   </a>
   	   <span class="phone-span clearfix">
   	      <a href="#" class="free-call">电话咨询</a>
   	   	  <a href="#" class="phone-call">免费咨询</a>
   	   </span>
   </div>
   <script> 
        $(window).scroll(function(){
        	var btHeight = $(".phone-box").height();
        	var windowHeight = $(window).height();
        	var scrollHeight = $(window).scrollTop();
        	var bodyHeight = $("body").height();
        	var topHeight = $(".box").height();
            console.log(bodyHeight);
        	if((windowHeight+scrollHeight)<=topHeight){
        	   $(".phone-box").addClass("phone-boxed");
        	}else{
        	   $(".phone-box").removeClass("phone-boxed")
        	};
         var mySwiper = new Swiper ('.swiper-container',{
	    	direction:"horizontal",
	    	loop:true,
	    	pagination : '.swiper-pagination',
            paginationType : 'fraction',
	    })
     })
   </script>
   <script>	
       
   </script>
</body>
</html>