body,html{
    background: #f9f9f9;
}
.banner{
    position: relative;
    font-size: 0;
}
.back-wrap{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: .47rem;
    z-index: 900;
    -webkit-transform: translate3d(0,0,1px);
    -webkit-transition-duration: 0ms;
}
.back{
    float: left;
    padding: .47rem;
    margin-top: -10px;
}
.back::before{
    content: "";
    display: block;
    width: .23rem;
    height: .23rem;
    border: solid #fff;
    border-width: 0 0 1.5px 1.5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.compare{
    float: right;
    display: block;
    width: .42rem;
    height: .32rem;
    background: url(../image/duibi01_07741f1.png?v=20170706) no-repeat center;
    background-size: .42rem .32rem;
    margin: -.13rem .09rem 0 0;
    padding: .47rem;
}
.banner img{
    width:100%;
    height:100%;
}
.banner .number{
    position: absolute;
    padding: .12rem;
    width: 1.41rem;
    left: .23rem;
    bottom: .28rem;
    font-size: .26rem;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,.3);
    border-radius: .7rem;
}
.banner .right{
    position: absolute;
    display: inline-block;
    right:.23rem;
    bottom: .28rem;
    font-size: .26rem;
    color: #fff;
    padding:.12rem;
    text-align: center;
    background: rgba(0,0,0,.3);
    border-radius: .7rem;
    z-index: 998;
}
.img::before{
    content: "";
    width: .28rem;
    height: .26rem;
    background: url(../image/) no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-bottom: -.02rem;
    margin-right: .12rem;

}
.detail-head{
    padding: .3rem .4rem 0rem;
    overflow: hidden;
    background: #fff;
}
.detail-title{
    line-height: .49rem;
    font-size: .35rem;
    color: #1b1b1b;
    font-weight: 500;
    padding-bottom: .4rem;
}
.price{
    font-size: .3rem;
    color: #f85d00;
    font-weight: 400;
    font-style: normal;
}
.price strong{
    font-size: .47rem;
    font-style: normal;
    font-weight: 400;
}
.full-tax{
    font-size: .3rem;
    color: #bcbbbb;
    margin-left: .12rem;
}
.detail-price{
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: .4rem;
    font-size:0;
}
.detail-price a{
    float: right;
    display: inline-block;
    width: 1.39rem;
    height: .6rem;
    line-height: .6rem;
    border-radius: .05rem;
    border: solid 1px #f85d00;
    font-size: .26rem;
    text-align: center;
    color: #f85d00;
    margin-top: -.1rem;    
}
.detail-consult{
    background: #fff;
    padding: 0 .47rem;
    overflow: hidden;
    border-bottom: 1px solid #f3f3f3;
    line-height: 1;
    font-size: 0;
}
.half{
    font-size: .32rem;
    color: #f85d00;
    line-height: 1.17rem; 
}
.half-more{
    float: right;
    color: #585858;
    font-size: .27rem;
    margin-top: .5rem;
}
.half-more::after,.more::after{
    content: "";
    width: .14rem;
    height: .14rem;
    border: solid #dbdada;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    display: inline-block;
    margin-bottom: .02rem;
    margin-left: .14rem;
}
.status{
    position: relative;
    padding:.4rem .47rem .35rem .4rem;
    font-size: 0;
    background-color: #fff;
}
.status h2{
    vertical-align: middle;
    font-weight: 700;
    font-size: .3rem;
    color: #1b1b1b;
    padding-bottom: .35rem;
}
.promis-text{
    display: inline-block;
    height: .32rem;
    width: 1.48rem;
    border-radius: .01rem;
    font-family: PingFangSC;
    font-size: .16rem;
    text-align: center;
    color: #547e95;
    margin-left: .15rem;
    vertical-align: middle;
    position: relative;
    background: url(../image/cheyuan_c0094e3.png) no-repeat;
    background-size: 100%;
}
.more{
    position: absolute;
    right:.47rem;
    top:.14rem;
    line-height: 1.05rem;
    font-size: .26rem;
    color: #585858;
}
.origin-data{
    height:.42rem;
    line-height: .42rem;
}
.origin-data>span{
    float: left;
}
.origin-data img{
    float:left;
    width: .4rem;
    height: .42rem;
    margin-right: .16rem;
    border-radius: 50%;
}
.origin-name{
    font-family: PingFangSC;
    font-size: .26rem;
    font-weight: 500;
    color: #000;
}
.origin-status,.origin-time{
    font-family: PingFangSC;
    font-size: .26rem;
    color: #999;
}
.origin-data .origin-time{
    float:right;
}
.tips{
    position: relative;
    font-size: .3rem;
    color: #1b1b1b;
    line-height: 1.05rem;
    font-weight: 700;
    padding-left: .35rem;
}
.tips::before{
    content: "";
    width: 2px;
    height: 1.05rem;
    background: #ff5a37;
    display: inline-block;
    left: 0;
    position: absolute;
}
.cars-details,.isshow_vehicle{
    margin-top: .23rem;
    background-color: #fff;
}
.more{
    float:right;
    line-height: 1.05rem;
    font-size: .26rem;
    color: #585858;
}
.car-achrive{
    border-top: 1px solid #F3F3F3;
}
.car-achrive-wrap{
    font-size: 36px;
    padding: 0 .4rem;
}
.both-padding{
    padding: .5rem 0;
    border-bottom: 1px solid #F3F3F3;
}
.carinfo{
    float: left;
    margin-bottom: .5rem;
    width: 45%;
}
.carinfo:nth-child(4),.carinfo:nth-child(5),.carinfo:nth-child(6){
    margin-bottom: 0;
}
.carinfo:nth-child(2),.carinfo:nth-child(5){
    width:27%;
}
.carinfo:nth-child(3n){
    float: right;
    width:auto;
}
.carInfo-title{
    font-size: .26rem;
    color: #585858;
    margin-bottom: .18rem;
}
.carInfo-data{
    font-size: .3rem;
    color: #1B1B1B;
}
.deploy-list{
    overflow: hidden;
    padding: 0 .41rem;
    border-bottom: 1px solid #F3F3F3;
}
.deploy-list a{
    display: block;
    float: left;
    width:25%;
    text-align: center;
    font-size: .26rem;
    color: #838383;
    padding:.54rem 0 .42rem;
}
.deploy-list img{
    display: block;
    width: .64rem;
    margin:0 auto .28rem;
}
.data-more{
    display: block;
    width: 100%;
    padding: .35rem 0;
    font-size: .3rem;
    color: #585858;
    text-align: center;
}
.chekuang{
    display: inline-block;
    height: .32rem;
    width: 1.48rem;
    border-radius: .01rem;
    font-family: PingFangSC;
    font-size: .16rem;
    text-align: center;
    color: #547e95;
    margin-left: .15rem;
    vertical-align: middle;
    position: relative;
    background: url(../image/chekuang_a466660.png) no-repeat;
    background-size: 100%;
}
.p-accident-bg{
    width: 100%;
    background: #f9fdff;
}
.p-accident{
    overflow: hidden;
    padding: 0 .23rem;
}
.p-accident li{
    float: left;
    width: 33%;
    height: 2.23rem;
    text-align: center;
    position: relative;
}
.p-accident li a{
    display: block;
    height: 2.23rem;
    line-height: 3.4rem;
    color: #aaa;
    font-size: .23rem;
    letter-spacing: .01rem;
}
.p-accident-bgl{
    background: url(../image/feihuoshao_2180dee.png) 50% .59rem no-repeat;
    background-size: .75rem;
}
.phone-box{
    width: 100%;
    height: 1rem;
    background: #fff;
    z-index: 998;
    font-size: 48px;
    overflow: hidden;
    position: relative;
}
.phone-boxed{
    position: fixed;
    left: 0;
    bottom: 0;
}
.chat,.make-car{
    width:1.7rem!important;    
}
.chat,.make-car{
    float: left;
    display:block;
    font-size: .21rem;
    color:#585858;
    text-align: center;
    border-right: 1px solid #e6e5e5;
    border-top: 1px solid #e6e5e5;
    padding-bottom: .13rem;
    padding-left:.15rem;
    padding-right: .15rem;
}
.chat-icon,.make-icon{
    display: block;
    width: .35rem;
    height: .35rem;
    clear: both;
    margin: 8px auto 0;
}
.chat-icon{
    background: url(../image/chat_c2dbf3a.png) no-repeat;
    background-size: .35rem .35rem;
}
.make-icon{
    background: url(../image/look_c2c7e77.png) no-repeat;
    background-size: .35rem .35rem;
}
.phone-span{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.phone-span a{
    float: left;
    height: 1rem;
    font-size: .28rem;
    color: #585858;
    text-align: center;
    line-height: 1rem;
    border-top: 1px solid #e6e5e5;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}   
.phone-span .phone-call{
    background: #ff5a37;
    color: #fff;
    float: right;
    border-top: 1px solid transparent;
    box-sizing: border-box;
}
.process-btn{
    float:right;
    font-size: .26rem;
    color: #585858;
    padding: .14rem .23rem;
    border: 1px solid #bbb;
    border-radius: .05rem;
    margin: .23rem .47rem 0 0;
    z-index: 2;
}